html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

#app {
  min-height: 100vh;
}

:root {
  --base-padding: 0;
  --base-margin: 0;
  --primary-colour: rgb(25, 20, 65);
  --secondary-colour: rgb(25, 20, 65);
  --tertiary-colour: rgb(25, 20, 65);
}

.editor {
  display: grid;
  grid-template-columns: 300px auto 300px;
  min-height: inherit;
}
