.component-panel {
  background-color: rgba(10, 5, 45, 1);
  display: flex;
  flex-direction: column;
  min-height: inherit;

  &__item {
    color: white;
    display: flex;
    padding: 16px 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: rgb(25, 20, 65);
    }
  }
}
